<div class="Main">

      <div class="Contents_Body">
        <Header>
            <div class = "Header_Ber">
                <h1>My page</h1>
            </div>
        </Header>
        <div class ="Main_Contenar">
         <h1>Contents..</h1>
          <div class ="middle_Contents">
           <a href="#" class="Contents" type=link >View Display</a>
          </div>
          <div class ="middle_Contents">
           <a href="#" class="Contents">Libary</a>
          </div>
          <div class ="middle_Contents">
            <a href="#" class="Contents">Wish list</a>
          </div>
          <div class ="middle_Contents">
            <a href="#" class="Contents">Account settings</a>
          </div>
 
        </div>

        <footer>
          <div class = "Footer_Ber">
            <h4>The truth is you don’t know what is going to happen tomorrow.</h4>
            <h4>Life is a crazy ride, and nothing is guaranteed.</h4>
            <h4>「誰も明日のことなんか分からない。これが真実。人生なんて狂ってるし何の保障もないんだ」</h4>
            <h4>-Eminem-</h4>
        </footer>
      </div>

</div>