// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.Main_Contenar{
  padding-left: 40px;
  background: linear-gradient(-90deg, rgba(60, 40, 30, .6), rgba(255, 255, 255, .5)),url("/image/Background-sorce.jpg") 100%;
    
  height: 100%;

}

.Main_Contenar h1{
    font-size: 30px;
    font-weight: normal;
    color :coral;
    font-family: 'Alegreya Sans SC', sans-serif;
}
.middle_Contents{
padding-left: 30px;
padding-bottom: 60px;

width: 40%;
height: 50px;

font-weight: normal;
color: cornflowerblue;
font-family: 'Alegreya Sans SC', sans-serif;
font-size: 40px;
}

.last_Contents{
  padding-top: 20px;
  padding-left: 40px;

  padding-bottom: 10px;
  width: 90%;
 }
 .last_Contents h4{
 text-align: right;
 }
